.container {
    position: relative;
    .backgroundPicture {
        position: absolute;
        background-image: url(../IMG/bg_home.svg);
        background-repeat: no-repeat;
        top: -25px;
        right: 0px;
        width: 100vw;
        height: 100vh;
        z-index: -1;
    }
    .ball01 {
        position: absolute;
        background-image: url(../IMG/ball01.svg);
        background-repeat: no-repeat;
        top: 1000px;
        left: -230px;
        width: 50vw;
        height: 50vh;
        z-index: -1;
    }
    .ball02 {
        position: absolute;
        background-image: url(../IMG/ball02.svg);
        background-repeat: no-repeat;
        top: 1450px;
        right: -200px;
        width: 50vw;
        height: 50vh;
        z-index: -1;
        //outline: 1px solid black;  
    }
}
@media (max-width:600px) {
    .container {
        .backgroundPicture {
            top: 300px;
            background-image: url(../IMG/bg_home_sm.svg);
            background-repeat: no-repeat;
            background-position: center;
            width: 100vw;
            height: 100vh;
            z-index: -1;
        }
        .ball01 {
            position: absolute;
            background-image: url(../IMG/ball01.svg);
            background-repeat: no-repeat;
            width: 100vw;
            height: 100vh;
            top: 1200px;
            left: -230px;
        }
        .ball02 {
            position: absolute;  //是否為冗句?
            background-image: url(../IMG/ball02.svg);
            background-repeat: no-repeat;
            width: 100vw;
            height: 100vh;
            top: 4750px;
            left: 500px;
        }
    }
}
