.footer {
    margin-top: 134px;
    background-image: url(../IMG/home_footer.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 503px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h2 {
        font-size: 32px;
        font-weight: bold; 
        text-align: center;
        margin-top: 320px;  
    }
    a {
        //display: block;
        color: white;
        background: #56C4C5;
        border-radius: 27px;
        text-align: center;
        padding: 12px 32px;
        margin: 48px 460px 0px 460px;
    }
}
.footer2 {
    text-align: center;
    background: #F5F5F5;
    padding: 16px 0px;
    width: 100%;
}   
@media (max-width:600px) {
    .footer {
        margin-top: 60px;
        background-image: url(../IMG/footer_sm.svg);
        background-repeat: no-repeat;
        background-size: 600px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        h2 {
            font-size: 24px;
            margin-top: 200px;
        }
        a {
            margin: 120px 0px 0px 0px;
        }
    }
    .footer2 {
        width: 100%;
    }
}

.goTop {
    position: relative;
    a {
        position: fixed;
        z-index: 99;
        right: 30px;
        bottom: 30px;
        color: white;
        font-size: 18px;
        font-weight: bold;
        padding: 26px 24px;
        border-radius: 50%;
        background-color: #56C4C5;
    }
}
@media (max-width:600px) {
    .goTop {
        a {
            font-size: 14px;
            padding: 18px 16px;
        }
    }
}