.footer {
    margin-top: 134px;
    background-image: url(../IMG/home_footer.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 503px;
    display: flex;
    flex-direction: column;
    align-items: center;
    h2 {
        font-size: 32px;
        font-weight: bold;   
    }
    a {
        color: white;
        background: #56C4C5;
        border-radius: 27px;
        padding: 12px 32px;
        margin: 48px 0px 100px 0px;
    }
}
.footer2 {
    text-align: center;
    background: #F5F5F5;
    padding: 16px 0px;
}   
@media (max-width:600px) {
    .footer {
        margin-top: 60px;
        position: absolute;
        background-image: url(../IMG/footer_sm.svg);
        background-repeat:no-repeat;
        width: 100vw;
        bottom: 0;
        left: 0;
        h2 {
            font-size: 24px;
            margin-top: 293px;
        }
        a {
            margin: 24px 0px 60px 0px;
        }
    }
}


.goTop {
    position: relative;
    a {
        position: fixed;
        z-index: 99;
        right: 30px;
        bottom: 30px;
        color: white;
        font-size: 18px;
        font-weight: bold;
        padding: 26px 24px;
        border-radius: 50%;
        background-color: #56C4C5;
    }
}
@media (max-width:600px) {
    .goTop {
        a {
            font-size: 14px;
            padding: 18px 16px;
        }
    }
}