*, ::before, ::after {
    box-sizing: border-box;
}

body {
    font-family: 'Noto Sans TC', sans-serif;
    line-height: 1.5;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

a {
    text-decoration: none;
}

sub {
    vertical-align: sub;
}

.container  {
    max-width: 1088px;
    margin: 0 auto;
    padding-left: 140px;
    padding-right: 140px;
}
@media (max-width:600px) {
    .container {
        max-width: 600px;
        margin: 0 auto;
        padding-left: 30px;
        padding-right: 30px;
    }
}    
@media (max-width:375px) {
    .container {
        max-width: 375px;
        margin: 0 auto;
        padding-left: 16px;
        padding-right: 16px;
    }
}